.dm-img{
    height:  8vh;
    cursor: pointer;
}

.Navbar-dark{
    .navbar{
        background-color: rgb(30, 30  , 30)!important;
        a{
            color: white!important;
        }
    }
}


.Navbar-light{
    .navbar{
        background-color: rgb(216, 216  , 216)!important; 
        color: white!important;
    }
}